

body {
        background: url("https://img.freepik.com/photos-premium/texture-marbre-blanc-pour-fond_42682-286.jpg") center center fixed;
        background-size: cover;
        color: rgb(30, 30, 30);
	font-family: AlumniSansCollegiateOne-Regular;

}
h1{
	color: red;
	font-family: helvetica;
}

h2{
	color: red;
}

a {
	text-decoration: none;
	color: orange;
}




.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 5px 13px rgb(0 0 0 / 50%);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

#intro {
	padding-bottom: 15px;
}

.btn-blue {
	background-color: red;
	padding: 15px 20px;
	border-radius: 40px;
	color: white;
	font-weight: bold;
	
}

.btn-blue:hover{
	background-color: #0072b1;
}



.img-circle {
	 width: 250px;
	height: 250px;
	border-radius: 50%;
}

.container{
	width: 700px;
	margin: 40px auto;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline > li {  
	display: inline; 
  padding: 0px 20px;

}

.fa-brands{
	color: red;
	font-size:35px;
}
.fa-brands:hover {
	color:#0072b1;
}


@media (max-width : 960px) {
	.container{
		width: 700px;
	}
}

@media (max-width : 720px) {
	.container{
		width: 500px;
	}
}
@media (max-width : 540px) {
	.container{
		width: 300px;
	}
}
